.searchAndUserDiv {
    display: flex;
    flex-direction: row;
    gap: 208px;
    padding: 16px 16px 16px 366px;
    justify-content: space-between;
    border-bottom: 1px solid #434343;
    background: #141414;
}

.userDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 16x;
}

input {
    padding: 8px 10px;
    border-radius: 8px 0px 0px 8px;
    border-top: 1px solid #FAE101;
    border-bottom: 1px solid #FAE101;
    border-left: 1px solid #FAE101;
    border-right: none;
    height: 100%;
    color: #FAE101;
    font-size: 14px;
    background: #141414;
    width: 100%;
}

.search {
    background-color: #FAE101;
    padding: 8px 12px;
    border-radius: 0px 8px 8px 0px;
}


.justSearchDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 484px;
}

.logo {
    align-self: flex-end;
}

.logoAndnavDiv {
    display: inline-flex;
    border-right: 1px solid #434343;
    background: #222224;
}